{% extends "_base.twig" %}

{% set pageSlug = "homepage" %}
{% set pageTitle = "Homepage" %}
{% set sliderScript = true %}

{% block body %}
{{ include('components/homepage-slider.twig') }}
<section class="background--light">
	<div class="container">
		<div class="row">
			<div class="col-12 col-lg-8 text-center text-lg-start">
				<h2>Our Party Plans</h2>
				<p class="lead">Get the party started! Just pick a date, a theme, and a party tier and let us handle the rest.</p>
			</div>
		</div>
		<div class="feature-boxes">
			<div class="feature-boxes__box">
				<img src="/assets/tier1.svg" alt="Graphic of a 1 tier cake." />
				<h4>1 Tier</h4>
				<ul>
					<li>Choose from one of our available party themes.</li>
					<li>Includes themed cake (serves 20).</li>
					<li>Standard decorations.</li>
				</ul>
				<a href="/book/tier1">Book Now</a>
			</div>
			<div class="feature-boxes__box">
				<img src="/assets/tier2.svg" alt="Graphic of a 2 tier cake." />
				<h4>2 Tier</h4>
				<ul>
					<li>Choose from one of our available party themes.</li>
					<li>Includes themed cake (serves 20).</li>
					<li>Themed decorations.</li>
					<li>Group party games.</li>
					<li>Standard sound system with party music.</li>
				</ul>
				<a href="/book/tier2">Book Now</a>
			</div>
			<div class="feature-boxes__box">
				<img src="/assets/tier3.svg" alt="Graphic of a 3 tier cake." />
				<h4>3 Tier</h4>
				<ul>
					<li>Choose from one of our available party themes.</li>
					<li>Includes themed cake (serves 20).</li>
					<li>Deluxe themed decorations.</li>
					<li>Group party games.</li>
					<li>Deluxe sound system with party music.</li>
					<li>Disco lighting.</li>
					<li>Themed professional entertainer.</li>
				</ul>
				<a href="/book/tier3">Book Now</a>
			</div>
		</div>
	</div>
</section>
<section class="background--green">
	<div class="container">
		<div class="row">
			<div class="col-12 col-lg-8">
				<h2>Featured Products</h2>
				<p class="lead">Putting together your own occassion? We can supply you with everything you need to make your party perfect!</p>
			</div>
		</div>
		<div class="product-grid product-grid--light">
			{% for product in products %}
			<a href="/shop/{{product.productid}}" class="product-grid__item">
				<div class="product-grid__item__image" style="background-image:url(/images/products/{{product.image}})"></div>
				<div class="product-grid__item__content">
					<span class="product-grid__item__name">{{product.title}}</span>
					<span class="product-grid__item__price">£{{product.price|number_format(2,'.')}}</span>
				</div>
			</a>
			{% endfor %}
		</div>
		<div class="row mt-5">
			<div class="col-12">
				<a href="/shop" class="button">All Products</a>
			</div>
		</div>
	</div>
</section>
<section class="background--light">
	<div class="container">
		<div class="row">
			<div class="col-12 col-lg-6">
				<h2>Who are we?</h2>
				<p class="lead">Our team is here to make sure that your party is the best that it can be!</p>
				<p>Fusce eu massa at dolor scelerisque pulvinar id eget enim. Curabitur accumsan purus magna, non pharetra nunc pellentesque in. Nulla egestas justo turpis, placerat sagittis augue pellentesque in. In sed nibh quis ligula ornare tristique. Quisque volutpat nibh ut ligula tincidunt tristique. Praesent auctor, velit eu ultricies dignissim, dui dui suscipit ligula, eu pellentesque ligula risus ac mi. Aliquam erat volutpat. Etiam tincidunt eget felis sit amet mollis. Morbi in hendrerit justo.</p>
				<a href="/about" class="button">More info</a>
			</div>
			<div class="col-12 col-lg-5 offset-lg-1 mt-4 mt-lg-0">
				<img class="content-image content-image--stylised" src="/images/team.jpg" alt="Photograph of our team at Petas Parties Ltd." />
			</div>
		</div>
	</div>
</section>
{% endblock %}
